In [ ]:
#@markdown Load modules
import numpy as np
from IPython.display import display, Markdown, Latex
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##Checking for Size

In [ ]:
import os

print(os.path.getsize("/content/drive/MyDrive/Large document for testing/train.csv"))

5846760913

In [ ]:
# get file size in python
import os

file_name = ("/content/drive/MyDrive/Large document for testing/train.csv")

file_stats = os.stat(file_name)

print(file_stats)
print(f'File Size in Bytes is {file_stats.st_size}')
print(f'File Size in MegaBytes is {file_stats.st_size / (1024 * 1024)}')

os.stat_result(st_mode=33152, st_ino=258, st_dev=42, st_nlink=1, st_uid=0, st_gid=0, st_size=5846760913, st_atime=1679494759, st_mtime=1602711906, st_ctime=1602711906)
File Size in Bytes is 5846760913
File Size in MegaBytes is 5575.905716896057

In [ ]:
from pathlib import Path
  
sz = Path("/content/drive/MyDrive/Large document for testing/train.csv").stat().st_size
  
print(sz)

5846760913

## Yep, right size. Now lets do the split using a package

In [ ]:
!pip install filesplit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting filesplit
  Downloading filesplit-4.0.1-py3-none-any.whl (9.2 kB)
Installing collected packages: filesplit
Successfully installed filesplit-4.0.1

In [ ]:
from filesplit.split import Split

split = Split(inputfile =  "/content/drive/MyDrive/Large document for testing/train.csv", outputdir =  "/content/drive/MyDrive/Large document for testing")

In [ ]:
split.bysize(size =  1e9) #break it into 6, of size 953.7 MB each (except the last one), deposited in the shared folder as train1 and train2, train3, and so on

## Now, we want to randomize the dataset order before splitting in order to do some sort of boot-straping

In [ ]:
#load the splits, and shuffle the rows if needed

#its better since the splits are smaller, and loadable in a pd dataframe
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Large document for testing/train_1.csv')  

df = df.sample(frac = 1)

df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
9339392,9339392,22816267378,203206918,8829.0,0.0,595.0,1.0,1.0,17000.0,True
16231612,16231612,19536,348333022,5209.0,0.0,1.0,2.0,1.0,36000.0,False
4543707,4543707,17088192048,96303741,454.0,0.0,504.0,3.0,1.0,13000.0,True
16111952,16111952,12836049462,345740344,5323.0,0.0,377.0,3.0,1.0,14000.0,True
11205916,11205916,177637487,243357704,6922.0,0.0,160.0,0.0,1.0,27750.0,True
...,...,...,...,...,...,...,...,...,...,...
6734315,6734315,2849893798,146798840,4966.0,0.0,151.0,2.0,1.0,11000.0,True
11442517,11442517,311842136,248281326,10074.0,0.0,101.0,3.0,1.0,17000.0,True
4849327,4849327,4211530909,103804041,2582.0,0.0,237.0,2.0,1.0,29333.0,True
3094054,3094054,12111290495,66756934,960.0,0.0,5222.0,1.0,1.0,16000.0,True
6437157,6437157,1734545930,139617632,3306.0,0.0,882.0,2.0,1.0,22333.0,True

In [ ]:
#now lets save it as train_1_shuffled

filepath = Path('/content/drive/MyDrive/Large document for testing/train_1_shuffled.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath) 

#didn't do it haha, but twitching it should do the randomization

#we can create a modifiable loop to do this randomization, which will multiply by two our output (the original ones and the shuffle versions of each)